.THIS.title {

    font-size: 2em;
    font-family: copperplate;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #f9b643;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid black;
    
}