<<<<<<< HEAD
.THIS.title {

    font-size: 2em;
    font-family: copperplate;
    color: black;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: gold;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    border: 1px solid black;
}

.THIS.activeMessage {

    padding: 5px 10px;

=======
.THIS {
>>>>>>> origin/main
}